// Fonts
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Average', serif;

// Colors
$black: #000;
$white: #FFF;
$gray: #212121;
$tan: #e7d0a2;
$orange: #be630e;
$red: #FF0000;
$blue: #0000FF;
$green: #008000;#e7d0a2