@import 'styles/_variables.scss';

html,
body {
    height: 100%;
    margin: 0;
}

body {
  background-color: $gray-light;
  color: $gray;
  font-family: $body-font-family;
  font-size: 16px;
  text-transform: uppercase;
}

header {
  background-color: $gray;
  color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

main {
  margin: 0 auto;
  max-width: 1012px;
  padding: 180px 32px 0;
  
  @media (max-width: 727px) {
    padding-top: 240px;
  }
}

h1 {
    font-family: $heading-font-family;
    font-size: 2rem; // 32px
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;

    @media (max-width: 727px) {
      font-size: 1.5rem; // 24px
    }
}

h2 {
  font-size: 1.125rem; // 18px
}

p {
  font-size: 0.75rem // 12px;
}

img {
  width: 180px;
  height: auto;
}

.form-wrapper {
  margin: 0 auto;
  max-width: 1012px;
  
  @media (max-width: 1059px) {
    max-width: 678px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 12px;
  
  @media (max-width: 727px) {
    flex-direction: column;
    justify-content: flex-start;
  }

}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 727px) {
    margin-top: 10px;
    min-width: 350px;
  }
}

.button {
  background: $gray;
  border: 2px solid $white;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
  outline-color: $white;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .25s ease;
  transition-property: background-color, border-color, color;
  z-index: 1;

  &:focus {
    outline-color: $orange;
  }

  &:hover {
    background-color: $white;
    border-color: $white;
    color: $gray;
  }
}

label {
  display: block;
  margin: 5px 0;
  text-transform: uppercase;
}

select,
input {
  background: $white;
  border: 1px solid $gray;
  border-radius: 5px;
  color: $gray;
  font-size: 1rem;
  height: 38px;
  padding: 9px 13px;
  text-transform: uppercase;
  
  &:focus {
    outline-color: $orange;
  }
}

.type {
  margin-right: 10px;
  min-width: 153px;
}

.card-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    width: 332px;
    height: 450px;
    margin: 10px 0;
  }
}

.card {
  align-items: center;
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
  margin: 0 5px;
  text-align: center;
  transition: transform .25s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &--white {
    box-shadow: 0 0 3px 1px $white;
  }
  
  &--red{
    box-shadow: 0 0 3px 1px $red;
  } 
  
  &--green{
    box-shadow: 0 0 3px 1px $green;
  } 
  
  &--black{
    box-shadow: 0 0 3px 1px $black;
  } 
  
  &--blue{
    box-shadow: 0 0 3px 1px $blue;
  } 
}

.card-details {
  background-color: $gray;
  color: $white;
  margin-top: 10px;
  width: 100%;
}

.loader {
  text-align: center;
  
  img {
    height: 64px;
    width: 64px;
  }
}

